@{
    ViewBag.Title = "Set New Password";
}

<h2>Set New Password</h2>

@using (Html.BeginForm("SetNewPassword", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal" style="max-width: 600px; margin: auto;">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label for="email">Email Address</label>
            <input type="text" name="email" id="email" class="form-control" />
            @Html.ValidationMessage("email", "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" name="newPassword" id="newPassword" class="form-control" />
            @Html.ValidationMessage("newPassword", "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" />
            @Html.ValidationMessage("confirmPassword", "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <input type="submit" value="Set New Password" class="btn btn-primary" />
        </div>
    </div>
}

